html {
  font-size: 14px;
  background: #fcfcfc;
}

/*-----------header区--------*/
.header {
  /*position: relative;*/
  /*height: 280px;*/
  height: 230px;
  width: 100%;
  /*background: #ee6e73;*/
  /*box-sizing: border-box;*/
  background: #333;
}
.header .img-wrapper {
  margin-top: 20px;
  padding-left: 10px;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 100%;
  max-width: 1280px;
}
.info-wrapper {
  display: inline-block;
  width: 220px;
  height: 100%;
  float: left;
}
.h1title {
  color: #fff;
}
h4.intro {
  /*color: #f2119c;*/
  /*color: #FFCDD2;*/
  color: #ee6e73;
}
.wechat-public-wrapper {
  /*display: inline-block;*/
  display: none;
  width: 180px;
  height: 180px;
  margin-left: 15px;
  margin-top: 30px;
  transition: all 0.2s ease-in 0.2s;
}
.wechat-public-wrapper img {
  max-width: 100%;
  background: #fcfcfc;
}
#js_show_wechat {
  cursor: pointer;
}
/*#js_show_wechat:hover~ .wechat-public-wrapper{
    display: inline-block;
  }*/
.avatar {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  vertical-align: top;
}
.avatar img {
  display: inline-block;
  width: 150px;
  height: 160px;
  border-radius: 50%;
}

/*------------main------------*/
.main {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/*------------catogery--------------*/
.catogery {
  position: absolute;
  top: 0;
  right: 160px;
  width: 120px;
  height: 300px;
}
.siderbar {
  position: absolute;
  top: 36px;
  right: 0;
  width: 300px;
  padding: 0 40px 0 0;
  box-sizing: border-box;
}
.catogery_2nd span {
  display: inline-block;
  /*width: 100px;*/
  /*font-size: 14px;*/
  font-size: 12px;
  color: #fff;
  /*background: #f5a5a8;*/
  background: #000;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.catogery_2nd #text {
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 10px;
  /*width: 100px;*/
  /*font-size: 14px;*/
  font-size: 14px;
  color: #333;
  border: 3px solid #333;
  background: #fff;
}
.catogery_2nd .subtitle {
  /*display: inline-block;*/
  width: 120px;
  font-size: 24px;
  margin-bottom: 24px;
  border-bottom: 3px solid #333;
}
/*------------friends---------------*/
.friends {
  position: absolute;
  top: 0;
  right: 20px;
  width: 120px;
  height: 300px;
}
.friends_2nd {
  float: right;
  width: 120px;
  height: 300px;
}
/*-----------content区--------*/
.content {
  /* width: 760px; */
  width: 85%;
  margin: 0 auto;
}
.h2title {
  color: #ee6e73;
  font-weight: 300;
}

/**----------test-title----------*/
ul li {
  margin: 14px 0;
}
.content .demo {
  width: 300px;
  float: left;
  margin-right: 40px;
}
.content .blog {
  float: left;
  width: 370px;
  margin-left: 230px;
  margin-right: 40px;
}

.content .blog .title,
.content .demo .title {
  color: #ee6e73;
  /*font-size: 20px;*/
  font-weight: 900;
}
.content .blog .title .time,
.content .demo .title .time {
  font-size: 10px;
  color: #e53935;
  word-spacing: 2px;
  font-weight: normal;
}

/*
** 响应式设计
*/
@media screen and (max-width: 1390px) { 
  .siderbar {
    display: none;
  }
}
@media screen and (max-width: 1152px) { 
  .content .demo {
    margin-left: 230px;
  }
}

@media screen and (max-width: 768px) { 
  .content .demo, 
  .content .blog {
    margin-left: 0;
  }
  .header .avatar {
    display: none;
  }
}

@media screen and (max-width: 500px) { 
  .header .img-wrapper #js_show_wechat,
  .header .wechat-public-wrapper {
    display: none;
  }
}