  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 760px;
    margin: 0 auto;
    padding: 45px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }
  body {
    /*background: #fcfcfc;*/
    background: #f1f1f1;

    /*background: #f5f5f5;*/
  }
  span {
    display: inline-block;
    padding: 3px;
    margin: 0 3px 10px 0;
    background: #eee;
    font-size: 12px;
  }
  span.tag {
    border: 2px solid #333;
    background: #fff;
  }
  ::selection {
    background: #000;
    color:#fff;
  }
  ::-moz-selection {
    background: #000;
    color:#fff;
  }
  ::-webkit-selection {
    background: #000;
    color:#fff;
  }
  .back-wrapper {
    position: fixed;
    top: 50px;
    left: 120px;
    width: 60px;
    height: 60px;
  }
  .back-wrapper img,
  .gotop-wrapper img {
    padding: 10px 15px;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);*/
    /*background: #fcfcfc;*/
  }

  .gotop-wrapper {
    position: fixed;
    bottom: 50px;
    right: 120px;
    width: 60px;
    height: 60px;
    transform: matrix(0, 1, -1, 0, 0, 0);
  }
  .toc {
    position: fixed;
    top: 50px;
    right: 100px;
    width: 240px;
    background: #fff;
  }

  /*
  ** 解决生成的分类名链接a元素，样式被覆盖的问题
  */
  .markdown-body header .tag a {
    text-decoration: none;
    color: #333;
  }